.Contact {
  background: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Contact .ContactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.Contact .ContactIcons div {
  padding: 10px;
}

.Contact .ContactIcons svg path {
  cursor: pointer;
  overflow: hidden;
}
